.pic{
	width:100%;
}

.banner{
	align: center;
}

/*figure{
	width:30%;
	
}*/

figcaption{
	text-align: center;
}

h1,h2,h3{
	font-family:Georgia, serif;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('{{ STATIC_URL }}/fonts/glyphicons-halflings-regular.eot');
  src: url('{{ STATIC_URL }}/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.well{
	text-align: center;
}

th{
	cursor:pointer;
}

.nav{
	width:50%;
	text-align: center;
}

.row{
	margin-left:-15px;
}

.leaders {
	float:left;
	text-align: center;

}

.leaders img{
	display:inline;
	display:block;
}

.left{
	float:left;
}

.right{
	float:right;
}

.panel-title{
	font-weight: bold;
}

.panel-title p{
	font-style: italic;
}




