.pic{
	width:100%;
	

}

figure{
	width:100%;
	
	float:left;
}

figcaption{
	text-align: center;
}

#map-canvas{
	height:25em;
	width:100%;
	margin-bottom:20px;
}



h1,h2,h3{
	font-family:Georgia, serif;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('{{ STATIC_URL }}/fonts/glyphicons-halflings-regular.eot');
  src: url('{{ STATIC_URL }}/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.well{
	text-align: center;
}

th{
	cursor:pointer;
}





