<!DOCTYPE html>
{% extends "base.html" %}
{% load humanize %}
{% load url from future %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped" id="mytable">
        {% for i in bill %}
        <tr> 
          <td>
            <h3><a href="{{ i.bill_id}}">{{ i.doc_id }}: {{ i.subject }}</a></h3>      
          </td>      
        </tr>    
        {% endfor %}     
      </table>
    </div>
  </div>
</div>
{% endblock %} 