{% extends "base.html" %}
{% load humanize %}
{% load url from future %}
{% block content %}

<div class = "container-fluid">
	<div class="row ">
		<div class="col-md-2">
      <img src ="{{ STATIC_URL }}{{ each_member.photo }}" class="img-responsive img-rounded">
    </div>	
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-6">
          <h1>{{ each_member.first_name }} {{ each_member.last_name }}</h1>
          <h4>{{ each_member.party }}, {{each_member.chamber}} District {{ each_member.district }}</h4>
        </div>  
      </div>
      <hr>
     <div class="row">
      <div class="col-md-6">
        <address>
          <strong>Office Address</strong>
          <p>{{ each_member.office_addr }}</p>
          <strong>Occupation</strong>
          <p>{{ each_member.occupation }}</p>
        </address>
      </div>
      <div class="col-md-6">
        <strong>Contact</strong>
        <p>{{ each_member.office_phone }}</br>
        <a href="mailto:{{ each_member.email }}">{{ each_member.email }}</a></p> 
      </div>
    </div>
  </div>
</div>
<hr>
<h2>Voting History</h2>
  <table class="table table-striped" id="mytable">
    <thead>   
      <th>Bill <span class="glyphicon glyphicon-sort"></span></th> 
      <th>Action <span class="glyphicon glyphicon-sort"></span></th>
      <th>Member Vote <span class="glyphicon glyphicon-sort"></span></th>
      <th>Chamber Vote <span class="glyphicon glyphicon-sort"></span></th>
    </thead>
    <tbody>
      <tr>
      {% for i in action_list %}
      {% autoescape off %}
        <td>{{ i }}</td>
        {% endautoescape %}
        {% if forloop.last %}
          </tr>
        {% else %}
          {% if forloop.counter|divisibleby:"4" %}
            </tr><tr>
          {% endif %}
        {% endif %}
      {% endfor %}
    <tbody>
  </table>
<script>
  $(document).ready(function(){
    $(function(){
      $("#mytable").tablesorter();
    });
  });
</script>
{% endblock %}

