<!DOCTYPE html>
{% extends "base.html" %}
{% load humanize %}
{% load url from future %}
{% block content %}


<div class = "container-fluid">
	<div class="row ">
	{% for i in member %}
    

  		<div class="col-md-4">
  			<img src="{{ STATIC_URL }}{{ i.photo}} ">
  			{{ i.party }}
  		</div>
  		<div class="col-md-4">
  			<a href="{{ i.legislator_id }}">{{ i.first_name}}{{ i.last_name}}</a>
  		</div>
  		<div class="col-md-4">
  			{{ i.district }}
  		</div>
	{% endfor %}
	</div>
</div>












{% endblock %} 